@import url("style.css");



.Pag-order{
    margin-top: 30px;
    margin-left:20px ;
}

main {
    padding: 20px;
  }
  
  .Pag-order {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .Pag-order h2 {
    text-align: center;
    font-size: 2em;
    color: #8B4513;
    margin-bottom: 20px;
  }
  
  .produtos h3 {
    margin-top: 20px;
    color: #6A4E37;
  }
  
  .produtos label {
    display: block;
    margin: 5px 0;
    font-size: 1em;
  }
  
  .produtos input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .produtos input[type="number"] {
    width: 60px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 5px;
  }
  

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  form label {
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
  
  form input{
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  form button {
    align-self: center;
    background-color: #8B4513;
    color: #FFF;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #6A4E37;
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #8B4513;
    color: #FFF;
    font-size: 0.9em;
  }