@import url("style.css");

.sobre-secao {
  padding: 40px;
}

.funcionario {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.funcionario img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.funcionario h3 {
  margin: 0;
  color: #6f4f1f;
}

.cardapio-secao,
.sobre-secao {
padding: 40px;
}

.cardapio-secao .item,
.sobre-secao .funcionario {
display: flex;
align-items: center;
margin-bottom: 20px;
gap: 20px;
}

.cardapio-secao .item img,
.sobre-secao .funcionario img {
width: 100px;
height: 100px;
border-radius: 8px;
}

.cardapio-secao .item .info,
.sobre-secao .funcionario div {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

.info h3,
.funcionario h3 {
margin: 0;
color: #4B3B27; 
}

.info .preco {
font-weight: bold;
color: #D2B48C; 
}

.sobre-secao .funcionario img {
border-radius: 50%;
}

.contato {
padding: 40px;
text-align: center;
background-color: #FFF8E7; /* Cor de fundo clara */
}

.contato h2 {
color: #8B4513;
font-size: 2em;
margin-bottom: 20px;
}

.contato p {
margin: 10px 0;
line-height: 1.6;
}

.icones-contato {
display: flex;
justify-content: center;
gap: 30px;
margin-top: 20px;
}

.icone {
text-decoration: none;
font-size: 2.5em;
color: #8B4513; /* Cor inicial */
transition: transform 0.3s, color 0.3s;
}

.icone:hover {
transform: scale(1.2);
color: #D2691E; /* Cor ao passar o mouse */
}
